$black-color: #252422;
$white-color: #fffcf2;
$main-font: 'minerva-modern', sans-serif;

html {
  body {
    background-color: $white-color;
    font-family: $main-font;

    header {
      nav {
        a {
          color: $black-color;
        }
      }
    }

    main {
      width: 100vw;
      height: fit-content;
      padding: 0 2rem;

      ul {
        width: 100%;
        height: fit-content;
        margin-top: 2rem;

        li {
          height: fit-content;
          border-bottom: solid 1px $black-color;
          padding: 1rem 0;

          &:hover {
            cursor: pointer;
            background-color: $black-color;
            transition: 200ms linear;

            a {
              color: $white-color;
              padding-left: 2rem;
              transition: 200ms linear;
            }
          }

          &:first-child {
            border-top: none;
          }

          a {
            width: 100%;
            height: 100%;
            font-size: 40px;
            text-transform: uppercase;
            display: flex;
            padding: 0 1rem;
            color: $black-color;

            span {
              display: inline-block;
              margin: auto 0;
            }
          }
        }
      }
    }
  }
}
