$black-color: #252422;
$white-color: #fffcf2;
$main-font: 'minerva-modern', sans-serif;

* {
  box-sizing: border-box;
}

html {
  body {
    background-color: $white-color;
    font-family: $main-font;

    header {
      background-color: transparent;
      display: flex;
      justify-content: space-between;

      span {
        display: inline-block;
      }
    }

    main {
      .container-grid {
        width: 100%;
        height: fit-content;
        position: relative;
        padding: 0 30%;
        margin-left: auto;

        div.container-item {
          margin-bottom: 2rem;

          div.container-item-content {
            position: relative;
            width: 100%;
            height: 100%;

            a {
              width: 100%;
              height: 100%;
              display: block;
            }

            img {
              visibility: hidden;
            }
          }
        }
      }
    }

    .container-disable-msg {
      p {
        color: $black-color;
      }
    }
  }
}
