<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link href="../../scss/main.scss" rel="stylesheet" />
    <link href="./index.scss" rel="stylesheet" />
    <link href="../../scss/_responsive.scss" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Voici un exemple de" />
    <title>Webgl</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
      </nav>
      <span>Effet 1</span>
    </header>
    <h1>Street art</h1>
    <main data-scroll-container data-scroll-target>
      <div data-scroll data-scroll-id="gallery" class="gallery">
        <div class="container-item__1">
          <img class="grid-img" src="/images/effect-001/1.png" />
        </div>
        <div class="container-item__2">
          <img class="grid-img" src="/images/effect-001/2.png" />
        </div>
        <div class="container-item__3">
          <img class="grid-img" src="/images/effect-001/3.png" />
        </div>
        <div class="container-item__4">
          <img class="grid-img" src="/images/effect-001/4.png" />
        </div>
        <div class="container-item__5">
          <img class="grid-img" src="/images/effect-001/5.png" />
        </div>
        <div class="container-item__6">
          <img class="grid-img" src="/images/effect-001/6.png" />
        </div>
        <div class="container-item__7">
          <img class="grid-img" src="/images/effect-001/7.png" />
        </div>
        <div class="container-item__8">
          <img class="grid-img" src="/images/effect-001/8.png" />
        </div>
        <div class="container-item__9">
          <img class="grid-img" src="/images/effect-001/9.png" />
        </div>
        <div class="container-item__10">
          <img class="grid-img" src="/images/effect-001/10.png" />
        </div>
        <div class="container-item__11">
          <img class="grid-img" src="/images/effect-001/11.png" />
        </div>
        <div class="container-item__12">
          <img class="grid-img" src="/images/effect-001/12.png" />
        </div>
        <div class="container-item__13">
          <img class="grid-img" src="/images/effect-001/13.png" />
        </div>
        <div class="container-item__14">
          <img class="grid-img" src="/images/effect-001/14.png" />
        </div>
        <div class="container-item__15">
          <img class="grid-img" src="/images/effect-001/15.png" />
        </div>
      </div>
    </main>
    <div class="container-disable-msg">
      <p>Not available for mobile or tablet format. Go to the desktop format</p>
    </div>
    <canvas></canvas>
    <script type="module" src="./index.js"></script>
  </body>
</html>
