<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link href="./index.scss" rel="stylesheet" />
    <link href="../../scss/main.scss" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Voici un exemple de" />
    <title>Webgl</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
      </nav>
      <span>Effet 2</span>
    </header>
    <main data-scroll-container>
      <img src="/images/grid/6.png" />
      <img src="/images/grid/3.png" />
      <img src="/images/grid/1.png" />
    </main>
    <canvas></canvas>
    <script type="module" src="./index.js"></script>
  </body>
</html>
