<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link href="../../scss/main.scss" rel="stylesheet" />
    <link href="./index.scss" rel="stylesheet" />
    <link href="../../scss/_responsive.scss" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Voici un exemple de" />
    <title>Webgl</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
      </nav>
      <span>Effet 2</span>
    </header>
    <main data-scroll-container>
      <img src="/images/effect-003/1.jpeg" />
    </main>
    <div class="container-disable-msg">
      <p>Not available for mobile or tablet format. Go to the desktop format</p>
    </div>
    <canvas></canvas>
    <script type="module" src="./index.js"></script>
  </body>
</html>
